/* ===================== CSS App ===================== */
* {
    box-sizing: border-box;
}

.App {
    width: 415px;
    margin: 0 auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    min-height: 100vh;
}

/* ===================== CSS Header Navbar ===================== */
.header-title {
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.nav-item {
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 14px 0;
}

.nav-item:hover {
    color: lightgrey;
}

.nav-item:not(:last-child) {
    border-right: 1px solid lightgrey;
}

/* ===================== CSS Section ===================== */
.section {
    padding: 0 30px;
}

.article {
    border-top: 1px solid lightgrey;
}

.article-title {
    color: black;
    text-decoration: none;
}

.article-title:hover {
    color: lightgrey;
}

.article-time {
    color: grey;
}

.article-image {
    width: 100%;
}

.article-source {
    color: grey;
}

.list-contact {
    list-style-type: none;
}

.list-sosmed {
    list-style-type: none;
}

.sosmed-item a {
    text-decoration: none;
    color: black;
}

.sosmed-item a:hover {
    color: lightgrey;
}
