* {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;

    width: 415px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.title-header {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.nav-item {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 14px 0;
    width: 100%;
}

.nav-item:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.nav-item:hover {
    color: grey;
}

.section {
    padding: 0 30px;
}

.section-list {
    list-style: none;
}

.section-list a {
    color: black;
    text-decoration: none;
}

.section-list a:hover {
    color: lightgrey;
}

.article-item {
    border-top: 1px solid lightgrey;
}

.article-title {
    color: black;
    text-decoration: none;
}

.article-title:hover {
    color: lightgrey;
}

.section-time {
    color: grey;
}

.section-image {
    width: 100%;
}

.section-source {
    color: grey;
}
